h1, h2, h3, h4 {
  padding: 10px;
}

// .main{ 
//   width:100vw;
//   height:100vh;
//   margin: 0 auto;
//   background: lightgreen
// }

button#revealDemo, button{
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}