*{
  text-align: center;
}

.Buttons {
  display: flex;
  justify-content: space-around;
  }

button:hover{
    cursor: pointer;
}

.Top {
  height: 80vh
}

button#no, button#yes {
  height: 30px;
  width: 30px;
  border: black;
  border-radius: 8px;
}

button#no {
  background: lightcoral
}

button#yes {
  background: lightgreen
}

button#no:hover{
  background: red
}
button#yes:hover{
  background: green
}

h2{
    width: 90%;
    height: 60%;
    overflow: scroll;
    margin: 0 auto;
    overflow-x: hidden;
    margin-top: 40px;
  }

@media (min-width: 768px){
  h2{
    height: 70%;
  }
}

@media (max-height: 500px){
  h2 {
    height: 35%;
  }
}



